annotated-types==0.7.0
anyio==4.11.0
bidict==0.23.1
bracex==2.6
bump-my-version==1.2.4
certifi==2025.8.3
click==8.2.1
dbus-fast==2.44.5
desktop-notifier==6.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jeepney==0.9.0
loguru==0.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==25.0
prompt_toolkit==3.0.52
pydantic==2.11.10
pydantic-settings==2.11.0
pydantic_core==2.33.2
Pygments==2.19.2
python-dotenv==1.1.1
questionary==2.1.1
rich==14.1.0
rich-click==1.9.1
schedule==1.2.2
sniffio==1.3.1
tomlkit==0.13.3
typing-inspection==0.4.2
typing_extensions==4.15.0
wcmatch==10.1
wcwidth==0.2.14
